<h2>About skiftOS</h2>
<p>skiftOS is an x86 operating system built from scratch in modern C++.
    It features a kernel named Hjert, a graphical user interface with a compositing window manager, and familiar UNIX
    utilities. </p>
<br>
<h3>Features</h3>

<div style="padding-left: 30px">
    <ul>
        <li>Pre-emptive multitasking</li>
        <li>A strong emphasis on user experience.</li>
        <li>A compositing window manager (Compositor)</li>
        <li>Has a wide range of applications such as an Image Viewer, Text Editor, and Terminal Emulator</li>
        <li>It can run DOOM <img height="16px" src="assets/rage3.png"/></li>
    </ul>
</div>

<iframe width="700" height="405" src="https://www.youtube.com/embed/KoBp-sCe6Xo"
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>
