<h2>About skiftOS</h2>
<p>skiftOS is a hobby operating system built for learning and for fun targeting the x86 platform.
    It features a kernel named hjert, a graphical user interface with a compositing window manager, and familiar UNIX
    utilities. </p>
<br>
<h3>Features</h3>

<div style="padding-left: 30px">
    <ul>
        <li>Pre-emptive multitasking</li>
        <li>I/O redirection</li>
        <li>IPC sockets</li>
        <li>Low level utility and system library (libsystem)</li>
        <li>2D and 3D graphic library (libgraphic)</li>
        <li>PNG support through lodepng</li>
        <li>Graphical user interface library (libwidget)</li>
        <li>A compositing window manager (Compositor)</li>
        <li>Posix and libc compatibility layer library (libcompat)</li>
        <li>A terminal emulator which support unicode and vt100 escape sequence (Terminal)</li>
        <li>It can run DOOM <img height="16px" src="assets/rage3.png" /> </li>
    </ul>
</div>

<iframe width="700" height="405" src="https://www.youtube.com/embed/KoBp-sCe6Xo"
frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
allowfullscreen></iframe>